@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway');

@-ms-viewport{
  width: device-width;
}

*, ::after, ::before {
  box-sizing: border-box;
  }

body {
  margin: auto 0;
/*  box-sizing: border-box;
*/}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

a, p, li {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

li {
  font-size: 16px;
}

a {
  font-weight: 500;
}

/* h2 {
  font-family: 'Montserrat', sans-serif;
} */

.section-title {
  font-weight: 500;
  font-size: 4em;
  border-bottom: 3px dashed black;
}

.about {
  font-size: 22px;
}

.job-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.job-info {
  margin-top: 0;
}

.dates {
  font-size: 0.8em;
}

.flex {
    height: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* Create space in the Cover section */
  }

/* cd-headline properties */
.cd-headline {
  font-size: 3rem;
  line-height: 1;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}

/* Clip animation */
.cd-headline.clip span {
  display: relative;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}






/****************** Colours **********************/
.blueGrade {
  /* background-image: linear-gradient(135deg, #04ffff 20%, #ff2ce2); */
  background: #3C85FF;
}

/****************** Side Navbar **********************/
#sideNav{
  transition: all 0.3s linear;
} 

.navbar-main {
  margin: 0;
  padding: 0;
  width: 210px;
  position: fixed;
  height: 100%;
  overflow: hidden; /* scroll disabled. initially, "auto"*/
  text-align: center;
  z-index: 1;
  /*box-shadow: 0 3px 10px grey;*/
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-main .navlinks {
  text-align: left;
}

.navbar-main .navlinks a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
/*  color: white;*/
  color: black;
}

.navbar-main .navlinks a i {
  margin: 0px 15px 0px 20px;
  font-size: 1.2rem;
}

.navbar-main .navlinks a.active {
  background-color: #555;
  color: white;
}

.navbar-main .navlinks a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/****************** Mobile Navbar **********************/
.navbar-mobile {
/*  box-sizing: border-box;
*/  display: none;
  box-shadow: 0 1px 2px grey;
/*  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
*/
}

.navbar-mobile {
  font-size: 1.1em;
}

/********************* Profile Picture **********************/
.circular_img {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  /*box-shadow: 0 3px 10px #0c6267;*/
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 20px 0px;
}

.circular_img img {
  /* display:none; */
  width: auto;
  height: 200px;
  margin-top: -20px; /*Keeps the face centered*/
}

/********************* Container & Section **********************/
.container {
/*  box-sizing: border-box;
*/  margin-left: 210px;
  /*height: 100%;*/ /* Constrains the view of the container within the viewport. No excess space below the footer */
}

section {
/*  box-sizing: border-box;
*/  padding: 30px 40px 20px; /* Padding for the inner section*/
  background: white;
  /*box-shadow: 0 3px 10px #0c6267;*/    
  -webkit-animation: fadeEffect 1.5s;
  animation: fadeEffect 1.5s;
}

section:not(:first-child) {
  display: none;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/********************* Contents **********************/
#home {
  height: 100vh;
  width: auto;
}  

.resume-grid {
  display: grid;
  grid-gap: 50px;
}

.resume-heading {
  padding: 5px;
  margin: 0;
  /* border-radius: 0.25em; */
  color: black;
}

.resume-box {
/*  box-shadow: 1px 1px 2px grey;
*/
  display: grid;
  grid-gap: 25px;
}

.resume-content {
  display: grid;
  grid-gap: 20px;
  padding: 10px 20px 10px 20px;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); */
  /* border-radius: 5px; */

}

.timeline-item {
  border-left: 2px solid black;
  padding: 0px 10px 10px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.timeline-item > p {
    margin-top: 0;
}

/* Circle timeline */
.timeline-item::before { 
  width: 15px;
  height: 15px;
  display: block;
  top: 1em;
  position: relative;
  left: -28.5px;
  border-radius: 10px;
  content: '';
  border: 2px solid black;
  background: white;
}

/* .dates > span {
  float:right;
} */

/* .timeline-item:last-child {
  border-image: linear-gradient(to bottom, #3C85FF 60%, BLACK) 50 100%;
} */

.flex-list {
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

ul.flex-list li {
  margin:5px;
}

ul.flex-list li > img {
  width: 100px;
  height: auto;
}

#projects {} 

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-template-rows: 20vh repeat(2, 275px); /*1st value sets the height of the first row, which is the .gridTitle*/
  grid-auto-rows:275px; /* Implicit Grid Layout - Sets the rows to a fixed height of 200px. So if viewport becomes more than 3 rows (Explicit Grid Layout), then all items will be fixed at 200px*/
  grid-gap: 50px;
}

.gridTitle  {
  grid-column-start: 1;
  grid-column-end: -1;
  align-self:center;
/*justify-self: center;*/
}
  
.projects-grid a > img {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: scale-down;
  box-shadow: 0 3px 10px #0c6267;
}


/******************* Responsive Design *************************/
@media screen and (max-width: 700px) {
  
  .navbar-main {
    left: -210px;
    z-index: 2;
  }

  .container {
    margin-left: 0;
    /*padding-top: 5%;*/ /* prevents container being overflowed by navbar*/
  }

  .navbar-mobile {
    width: 100%;
    height: 50px;
    position: fixed; /*Fixed makes it stay at the top*/
    overflow: hidden;
    z-index: 1;
  }

  .navbar-mobile {
    display: flex;
    /* flex-wrap: nowrap; */
    align-self: center;
  }

  .navmobile-title, .menu-icon {
    align-self: center;
  }

  .navmobile-title {
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;
  }

  .menu-icon {
    margin: 5px;
  }




  /****************** Menu Icon **********************/
  .menu-icon {
  /*  display: inline-block;*/  
    cursor: pointer;
    float: right;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2em;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* Home title reduce */
  .cd-headline {
    font-size: 2rem;
    line-height: 1;
  }
}


  
